.spacer {
  flex: 1 1 auto;
}

.course-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 2rem;
  padding: 2rem;
}

.course-card {
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-card-header {
  background-color: #3f51b5;
  color: white;
}

mat-card-title {
  font-size: 1.5rem;
}

mat-card-subtitle {
  font-size: 1.1rem;
}

mat-card-content {
  font-size: 1rem;
}

mat-card-actions button {
  font-size: 1rem;
  padding: 0.5rem;
}
